html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #d0d0d0;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.book-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 10px 30px;
}
.book-item:last-child {
  border: none;
}
header {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  background: white;
  width: 85%;
  margin: 0 auto;
  min-height: 600px;
  display: flex;
}
.main-content {
  flex: 3;
}
.book-title-and-edit-btn-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.book-title {
  font-size: 22px;
  color: black;
  text-decoration: none;
}
.sidebar-container {
  flex: 1;
  padding: 40px 0 20px 20px;
}
.sidebar-list-container {
  border-radius: 5px;
  border: 1px solid #0080ff;
  margin-bottom: 20px;
}
.sidebar-list {
  margin: 0;
  padding: 0 10px 10px 10px;
}
.sidebar-list-header {
  background: #0080ff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expand-icon-container {
  width: 30;
  height: 30;
  border-radius: 15px;
  cursor: pointer;
}
.expand-icon {
  color: white;
  font-size: 30px;
}
.active-edit-mode-header {
  background: #800000;
}
.inactive-edit-mode-header {
  background: #303030;
}
.home-title {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.7em;
  display: flex;
  align-items: center;
}
.edit-mode-label {
  font-size: 12px;
  background: #FA8072;
  padding: 3px;
  border-radius: 3px;
  margin-left: 10px;
}
.btn {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-btns {
  background: #0080FF;
  margin-left: 10px;
}

.inactive-edit-mode-btn {
  background: #F81894;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.active-edit-mode-btn {
  background: #0b6623;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.edit-btn {
  display: flex;
  align-items: center;
  background: #73C2FB;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.edit-icon {
  color: white;
  font-size: 13px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.pagination-item {
  border: 1px solid #dedede;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.pagination-next-item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pagination-previous-item {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #0080ff;
}
.link-class {
  color: #0080ff;
  text-decoration: none;
}
.active-page {
  background: #0080FF;
  color: white;
  border: 1px solid #0080FF;
}
.active-page-link {
  text-decoration: none;
  color: white
}

.link-class-prev {
  color: #0080ff;
}

.link-class-next {
  color: #0080ff;
}


.author-personal-data-container {
  padding: 20px 50px 0 50px;
}
